*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml

local-deploy/jenkins_home
local-deploy/tomcat/logs
local-deploy/tomcat/webapps